[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = git@github.com:hanwenguo/hugo-theme-nostyleplease.git
[submodule "themes/ink-free"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
